<app-navbar></app-navbar>
<section id="output">
  <div class="container">
    <div class="form search-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter github username" [(ngModel)]="username" name="username" (keyup)="searchProfile()">
      </div>
    </div>

    <!-- <div class="row"> -->
    <div *ngIf="profile">

      <!-- <div class="col-md-12 profile"> -->
      <div class="row" id="user-info">

          <div class="col-md-4" style="float:left; background-color:green;margin-right:4%;width:600px;">
              <section id="avatar">
            <h2 class="name">{{profile.name}}</h2>
            <!-- <div class="row"> -->
            <!-- <div class="col-md-4 m-b-1"  style="float:left"> -->
              <img src="{{ profile.avatar_url }}" class="m-3" alt="">
              <a href="{{ profile.html_url}}" class="btn btn-primary btn-outline view-profile" target="_blank">View Profile</a>
            <!-- </div> -->
              </section>
          </div>


          <div class="col-md-7" style="float:right;">
              <section id="details">
            <!-- <div class="col-md-8 pl-1" id="details" style="float:right"> -->
            <div class="card">
              <div class="card-body">

                <ul class="list-group">
                  <li class="list-group-item"><b>Username: </b> {{profile.login}}</li>
                  <li class="list-group-item"><b>Joined Github :{{
                            " "}} </b> {{profile.created_at | dateCount}}</li>
                  <li *ngIf="profile.bio" class="list-group-item"><b>Bio : </b> {{profile.bio}}. (Lasty updated on {{profile.updated_at}})</li>
                  <li class="list-group-item"><b>E-Mail: </b> {{profile.email}}</li>
                  <li class="list-group-item"><b>Blog Link: </b> {{profile.blog}}</li>

                </ul>
                <p class="status m-t-1">

                  <button class="p-a-05 bg-primay text-xs-center"> {{profile.public_repos}} Public Repos </button>
                  <button class="p-a-05 bg-primary m-t-1 text-xs-center"> {{profile.followers}} Followers </button>
                  <button class="p-a-05 bg-primary m-t-1 text-xs-center"> {{profile.following}} Followings </button>


                </p>

              </div>
            </div>
            <!-- <div class="status m-t-1">

                    <span class="p-a-05 bg-info text-xs-center"> {{profile.public_repos}} Public Repos </span>
                    <span class="p-a-05 bg-primary m-t-1 text-xs-center"> {{profile.public_gists}} Public Gists </span>
                    <span class="p-a-05 bg-danger m-t-1 text-xs-center"> {{profile.followers}} Followers </span>
                    <span class="p-a-05 bg-success m-t-1 text-xs-center"> {{profile.following}} Followings </span>


                  </div> -->
            <!-- </div> -->
              </section>
          </div>


      </div>
      <!-- <div class="card"> -->
      <!-- <h4 class="card-header name">{{profile.name}}</h4> -->
      <!-- <div class="card-body"> -->



    <!-- </div> -->

    <div *ngIf="profile.public_repos" class="col-md-12 repos">
      <div>
        <div class="card card2 card-default">
          <div class="card card2 card-heading">
            <h3 class=" card2 card-title">List of {{ profile.login }}'s {{profile.public_repos}} Public Repos</h3>
          </div>
          <div class="card2 card-body">
            <div class="row">
              <div class="col-md-12">
                <div *ngFor="let repo of repos" id="repo-details">
                  <div class="row">
                    <div class="col-md-9">
                      <h2><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a><span id="created">Created {{ repo.created_at | dateCount }}</span></h2>
                      <p>{{repo.description}}</p>
                    </div>
                    <div class="col-md-3">
                      <span class="badge badge-default">{{repo.watchers}} Watchers</span>
                      <span class="badge badge-primary">{{repo.forks}} Forks</span>

                    </div>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- </div>
      </div> -->
</section>
