img {
    height:200px;
    width:200px;
    margin-bottom:2px;
    border:3px solid white;
    border-radius: 20px;
}
.repos {

}
.profile{
  margin-bottom:6px;
}
input {
    font-family: 'Roboto', sans-serif;
    text-align:center;
    width:300px;
    margin:auto;
    padding:5px;
}
.form{
  margin: 6px auto;
}
h3 {
  text-align: center;
}
